@font-face {
  font-family: "Cera Pro";
  src: url(), url("../fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

main {
  max-width: 1200px;
}

aside {
  width: 310px;
  margin-left: 135px;
  margin-top: 171px;
  display: inline-block;
}

.aside-nav {
  display: inline-block;
  width: 100%;
  height: 774px;
  background-color: rgba(251, 251, 251, 1);
  padding-top: 14px;
  padding-left: 18px;
}

aside nav h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.nav-categories {
  margin-left: 12px;
}

.nav-categories a {
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}

.categories-active {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  color: rgba(70, 163, 88, 1);
}

.aside-banner {
  display: inline-block;
}

.aside-banner img {
  width: 310px;
  margin: 0 auto;
}

.main-content {
  display: inline-block;
  max-width: 838px;
  margin-left: 50px;
}

.nav-main-content {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

.nav-main-content-pages {
  display: inline-block;
}

.nav-main-content a {
  margin-right: 40px;
  position: relative;
}
.main-nav-active {
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(70, 163, 88, 1);
}

.main-nav-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(70, 163, 88, 1);
  position: absolute;
  bottom: -7px;
  left: 0;
}
